li {
  margin: 0 0 20px 0;
  width: 350px;
}

.parentFolder {
  display: flex;
  align-items: center;
  cursor: move;
}

.parentFolder:hover .Folder {
  display: block;
}

header {
  flex: 15;
}

.Folder {
  flex: 1;
  display: none;
}
