li {
  margin: 20px;
  width: 300px;
}

.parentFolder {
  display: flex;
  align-items: center;
  cursor: move;
}

.parentFolder:hover .Folder {
  display: inline;
}

header {
  flex: 4;
}

.Folder {
  flex: 1;
  display: none;
}
