.App {
  border-right: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60px;
  text-align: center;
  z-index: 3;
}

.App-logo {
  width: 60px;
  height: 60px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
*/
