.App {
  border-right: 2px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 72px;
}

.App-logo {
  width: 72px;
  height: 72px;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
